@model Modules.Department

@{
    ViewBag.Title = "新增/编辑菜单";
    Layout = "../Shared/_TopLayout.cshtml";
}

@using (Ajax.BeginForm("SaveDepartment", new { Model.Id, Model.ParentId, Model.OrderNumber }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "saveSuccessed", OnBegin = "validateData" }, new { @class = "layui-form" }))
{
    <div class="layui-form-item">
        <label class="layui-form-label required">部门名称</label>
        <div class="layui-input-inline">
            <input type="text" name="Name" lay-verify="required" autocomplete="false" class="layui-input" value="@Model.Name"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="Remark" class="layui-input" style="height: 80px">@Model.Remark</textarea>
        </div>
    </div>
}

<script>
    var successCallback;
    var saveSuccessed = function (result) {
        app.endLoading();
        if (result.Result) {
            if (successCallback) {
                successCallback(result.Data);
            }
        } else {
            app.showError(result.Message);
        }
    };

    var validateData = function () {
        var isValid = app.verifyInput();
        if (isValid) {
            app.startLoading();
        }
        return isValid;
    };

    var saveInfo = function (callback) {
        successCallback = callback;
        $("form").submit();
    };
</script>
