@model dynamic

@{
    ViewBag.Title = "更改密码";
    Layout = "../Shared/_TopLayout.cshtml";
}

@using (Ajax.BeginForm("SaveNewPassword", new { }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "saveSuccessed", OnBegin = "validateData" }, new { @class = "layui-form" }))
{
    <div class="layui-form-item">
        <label class="layui-form-label required">旧密码</label>
        <div class="layui-input-block">
            <input type="password" name="oldPassword" lay-verify="required" autocomplete="false" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">输入新密码</label>
        <div class="layui-input-block">
            <input type="password" id="tbPassword1" lay-verify="required" autocomplete="false" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">重复新密码</label>
        <div class="layui-input-block">
            <input type="password" id="tbPassword2" name="newPassword" lay-verify="required|samepassword" autocomplete="false" class="layui-input" />
        </div>
    </div>}

<script>
    layui.form.verify({
        samepassword: function () {
            if ($("#tbPassword1").val() !== $("#tbPassword2").val()) {
                return "两次密码输入不一样！";
            }
            return "";
        }
    });
    var successCallback;
    var saveSuccessed = function (result) {
        app.endLoading();
        if (result.Result) {
            if (successCallback) {
                successCallback();
            }
        } else {
            app.showError(result.Message);
        }
    };

    var validateData = function () {
        var isValid = app.verifyInput();
        if (isValid) {
            app.startLoading();
        }
        return isValid;
    };

    var saveInfo = function (callback) {
        successCallback = callback;
        $("form").submit();
    };
</script>
